 * {
  box-sizing: border-box;
}
   @font-face {
          font-family: 'Graphik Wide Bold';
          src: url(https://cdn.shopify.com/s/files/1/1832/9335/files/GraphikWide-Bold.otf?v=1651538224);
        }


 .four-column-main {
  padding-top: 100px!important; 
    font-family: inherit;
  background-color: black;
  color: white;
 }

.title-left {
font-size: 32px;
  font-family: 'Graphik Wide Bold';
   max-width: 1340px;
  display: flex;
  margin: 0 auto;
   font-weight:700;
}

  .four-column-section {
    max-width: 1340px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
      }


    .column {
      flex: 25%;
      padding-right: 10px!important;
      padding-left: 10px!important;
    }
        


.rule-text {
font-size: 16px;
  padding-bottom: 0px!important;
  line-height:18px!important;
}
  
.name-text {
 font-family: 'Graphik Wide Bold';
  font-size: 18px;
   font-weight:700;
line-height:18px!important;
  padding-top:0!important;
  margin-top: 0 !important;
}


    @media only screen and (max-width: 767px) {
      
       .column {
    flex: 50%;
    padding: 10px!important;
       } 
    }

